click==8.1.3
cycler==0.11.0
data==0.4
fonttools==4.37.1
funcsigs==1.0.2
joblib==1.1.0
kiwisolver==1.4.4
matplotlib==3.5.3
nltk==3.7
numpy==1.23.2
pandas==1.4.4
Pillow==9.2.0
pytz==2022.2.1
regex==2022.8.17
scikit-learn==1.1.2
scipy==1.9.1
sklearn==0.0
threadpoolctl==3.1.0
tqdm==4.64.0
unicode==2.9
